@import "./normalize.css";

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 18px;
  font-family: 'Fira Mono', monospace;
  color: #073642;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.welcome {
  opacity: 1;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30vh;
  transition: opacity 1s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.welcome-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  & > *:nth-child(2) {
    font-size: 1.5em;
  }
}

.welcome-form {
  margin-top: 2rem;
  display: grid;
  grid-template-areas:
    "label label"
    "input button";
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
}

.welcome-label {
  grid-area: label;
  text-align: center;
}

.welcome-input {
  grid-area: input;
  padding: 4px 8px;
}

.welcome-button {
  grid-area: button;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;

  @media only screen and (max-width: 1200px) {
    margin: 0 16px;
  }
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.2em;
  flex: 1;
  white-space: nowrap;
}

.navbar-name {
  font-weight: bold;
  margin: 0 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-logout {
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 0.9em;
  text-decoration: underline;
  padding: 0;
}
